<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Question</key>
			<string>Which town is the official capital of Wales?</string>
			<key>CorrectAnswer</key>
			<string>Cardiff</string>
			<key>Answers</key>
			<array>
				<string>Cardiff</string>
				<string>Swansea</string>
				<string>London</string>
				<string>Newport</string>
			</array>
		</dict>
		<dict>
			<key>CorrectAnswer</key>
			<string>Ben Nevis</string>
			<key>Question</key>
			<string>Which is the highest mountain in Britain?</string>
			<key>Answers</key>
			<array>
				<string>Ben Nevis</string>
				<string>Ben Macdhui</string>
				<string>Ben Lawers</string>
				<string>Braeriach</string>
			</array>
		</dict>
		<dict>
			<key>CorrectAnswer</key>
			<string>1</string>
			<key>Question</key>
			<string>Who are you?</string>
			<key>Answers</key>
			<array>
				<string>4</string>
				<string>3</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>What&apos;s up?</string>
			<key>CorrectAnswer</key>
			<string>Not much</string>
			<key>Answers</key>
			<array>
				<string>Not much</string>
				<string>Ok</string>
				<string>Cool</string>
				<string>Alright</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
